<!DOCTYPE html>
<html ng-app>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Angular</title>
        <meta name="description" content="Ejemplo de angular con multipart form">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" href="../css/normalize.min.css">
        <link rel="stylesheet" href="../css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
	<body ng-controller="usuarioController">

		<section>
		
			<form enctype="multipart/form-data" class="form" name="myForm" role="form" >
				<div class="form-header">
					<label>Formulario MultiPart Angular</label>
				</div>
				<div class="form-content">
					<div class="messages">
						<div class="alert-box error required" ><span>Error: </span>Debe rellenar el campo nombre</div>
						<div class="alert-box error" ><span>Error: </span>Error al enviar el formulario</div>
						<div class="alert-box success" ><span>Exito: </span>Se ha insertado correctamente</div>
					</div>
					<div class="form-group">
						<label>Nombre</label>
						<input name='nombre' type='text' placeholder="Nombre" ng-model="data.nombre" required>
    					<span class="bg-danger" ng-show="myForm.nombre.$error.required">Obligatorio!</span><br>
					</div>
					<div class="form-group">
						<label>Fichero</label>		
						<div class="subir">
							<input id="uploadFile" placeholder="Elige un fichero" disabled="disabled" />
							<div class="fileUpload button">
								<span>Subir</span>
								<input id="uploadBtn" type="file" class="upload" onchange="angular.element(this).scope().fileNameChanged(this)" />
							</div>
						</div>						
					</div>					
				</div>
				<div class="form-footer">
					<button ng-click="submitForm(myForm.$valid)" >Submit</button>
				</div>
			</form>
		
		</section>		    	
	
	<script src="../js/vendor/angular.js" type="text/javascript"></script>
	<script src="../js/vendor/jquery-1.11.0.min.js"></script>
	<script src="../js/angular.js" type="text/javascript"></script>
</body>
</html>